* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    background-color: blueviolet;
    padding: 200px;
}

.inner{
    background-color: white;
    padding: 30px;
}

.thin {
    font-size: small;
    font-weight: lighter;
    
}

.margin{
    margin-top: 50px;
}